/* Contenedor principal */
.profile-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Título del perfil */
.profile-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Imagen de perfil */
.profile-avatar {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 15px;
  border: 2px solid #007bff;
}

/* Contenedor de la información del usuario */
.profile-info {
  text-align: center;
}

.profile-info p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

/* Formulario de actualización */
.profile-form {
  margin-top: 20px;
}

.profile-form div {
  margin-bottom: 10px;
}

/* Inputs */
.profile-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Botones */
.profile-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.profile-buttons button {
  width: 48%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.profile-buttons button:hover {
  background-color: #0056b3;
}

/* Estilos específicos para el botón de eliminar cuenta */
.delete-account-btn {
  background-color: #dc3545;
}

.delete-account-btn:hover {
  background-color: #a71d2a;
}

/**PREVIEW**/

.avatar-preview-container {
  /* Limita el ancho máximo del contenedor */
  max-width: 100%;
  /* Opcional: establece un alto máximo si lo requieres */
  max-height: 200px;
  /* Oculta el contenido que se desborde */
  overflow: hidden;
  /* Centra el contenido, si lo deseas */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.avatar-preview {
  /* Asegura que la imagen ocupe el 100% del contenedor sin desbordarse */
  max-width: 100%;
  max-height: 100%;
  /* Permite que la imagen se recorte de forma adecuada, si es necesario */
  object-fit: cover;
}
